body{
  /*background: url('town.jpeg');*/
}

p{
  display: inline;
}

.box{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #123456;
  margin: 10px 10px 10px 10px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.box:first-child{
  border: 3px solid #22ee22;
}

.box:nth-child(2){
  border: 3px solid #ee2222;
}

.box:nth-child(3){
  border: 3px solid #2222ee;
}

.white-box{
  background-color: #ffffff;
}

.invisible{
  display: none;
}

.absolute-positioned{
  position: absolute;
}

.basket{
  position: absolute;
  top: 500px;
  left: 200px;
  background-color: orange;
  width: 300px;
  height: 300px;
  z-index: -1;
}

.coordinates{
  display: none;
}

.cars{
  width: 66px;
  height: 66px;
  background-color: red;
  position: absolute;
  top: 25px;
  left: 0px;
  background: url(car.png) 0 -66px;
}

.car-down{
  background: url(car.png) 0 0;
}

.car-left{
  background: url(car.png) 0 -66px;
}

.car-right{
  background: url(car.png) 0 -132px;
}

.car-up{
  background: url(car.png) 0 -188px;
}

.building{
  width: 200px;
  height: 200px;
  background-color: orchid;
  position: absolute;
  top: 0;
  left: 700px;
}

.building:nth-child(1){
  top: 450px;
  left: 450px;
}

.building:nth-child(2){
  top: 150px;
  left: 450px;
}

.building:nth-child(3){
  top: 200px;
  left: 50px;
}
